extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    img(src=pokemon.sprite, alt="", style="width: 500px; height: 500px;")
    li habilidades: #{pokemon.abilitiesSum}
    li nome: #{pokemon.name}
    li
    li Julio Cesar Alecrim Costa:01647323:
    li Fabianne Arezes de Oliveira Firmino Cabral: 01643813
    li Thiago Fernando Fabrício da Silva 01643015
    li Pedro Felipe Barretto Campêlo: 01635193
    li Gabriel José de Lima: 01618146
    li Carlos Eduardo Nogueira Cabral: 01645530
    li Eduardo Felipe Reis Ferreira: 01633497
    li Gabriel de Lima Pereira: 01482189
